@model List<TrashPickup.Models.ApplicationUser>
@{
    ViewBag.Title = "EmployeePickup";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*@Html.ActionLink("Edit Player Info", "Edit", "Players", new { id = Model.Id }, null)*@
<p>Use this area to provide additional information for employee pickup.</p>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Customer Id</th>
        <th>User Name</th>
        <th>ZipCode</th>
        <th>Adress</th>
        <th>Pickup status</th>
        @*<th>Company</th>
        <th>Department</th>*@
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@Html.DisplayFor(temp => d.Id)</td>
            <td>@Html.DisplayFor(temp => d.UserName)</td>
            <td>@Html.DisplayFor(temp => d.ZipCode)</td>
            <td>@Html.DisplayFor(temp => d.Address)</td>
            <td>@Html.ActionLink("Picked up", "EmployeePickupPost", "Employee", new { clientId = d.Id }, null)</td>
            @*<td>@d.Company</td>
            <td>@d.Dept</td>*@

        </tr>

    }
</table>  